:root {
  --blue: #0078FF;
  --white: #ffffff;
  --black: #030303;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #323c4d;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}

h2 {
  padding: 10px;
  padding-bottom: 0px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #0C0C10;
}

a {
  color: inherit;
  text-decoration: none;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.station-request {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 360px;
  max-height: calc(100% - 2em);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);
  background-color: var(--white);
  border-radius: 8px;
  overflow-y: auto;
}

.section {
  padding: 0px 5px;
  border-bottom: 1px solid #EDF2F6;
}

/* Range slider */

input[type='range'] {
  overflow: hidden;
  margin: 10px;
  width: 95%;
  height: 4px;
  border-radius: solid 4px  #EDF2F6;
  background: #EDF2F6;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  width: 60px;
  height: 32px;
  border-radius: 123px;
  box-shadow: 0px 1.23077px 4.92308px rgba(37, 42, 50, 0.2);
  -webkit-appearance: none;
  cursor: pointer;
  background: var(--white);
  box-shadow: -200px 0 0 200px var(--blue);
}

.range-bubble {
  position: absolute;
  background: #fff;
  top: 60px;
  left: 72px;
  width: 60px;
  height: 32px;
  border-radius: 123px;
  box-shadow: 0px 1.23077px 4.92308px rgba(37, 42, 50, 0.2);
  pointer-events: none;
}

.range-value {
  position: relative;
  top: 3px;
  left: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #202024;
  pointer-events: none;
 
}

.range-info {
  padding: 10px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
}

.range-info span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #404046;
}

/* checkboxes for power and amenities */
.filter {
  position: relative;
  padding-bottom: 20px;
  line-height: 30px;
}

.filter-amenities {
  position: relative;
  padding-bottom: 20px;
  line-height: 20px;
}

.filter div {
  position: relative;
  top: -5px;
  padding-left: 10px;
}

.filter-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter-input ~ label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--white);
  border: 1.49026px solid #9CA7B2;
  box-sizing: border-box;
  border-radius: 4px;
}

.filter-input:checked ~ label::before {
  background-color: var(--blue);
  border-color:  var(--blue);
}

.filter-input:checked ~ label::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(41.67deg);
  -ms-transform: rotate(41.67deg);
  transform: rotate(41.67deg);
}

.power {
  padding: 10px;
}

.power li {
  padding-left: 25px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #202024;
}

.power li span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #787884;
}

.amenities {
  position: relative;
  padding: 10px;
}

.amenities li {
  padding-left: 35px;
  font-size: 15px;
  line-height: 20px;
  color: #404046;
}

/* Vieuw project on Github link */
.github-link {
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;

  padding: 0 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);

  background-color: var(--black);
  border-radius: 20px;

  color: var(--white);
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
}

.github-link a {
  padding: 0 16px 0 32px;
  margin: 0 8px 0 0;
  background: url('images/github.svg') no-repeat left center;
  border-right: 1px solid #54545c;
}

.github-link button {
  width: 16px;
  height: 16px;
  padding: 0;
  background: url('images/close.svg') no-repeat;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.github button:focus {
  outline: none;
}

/* Link to Chargetrip website */
.chargetrip-logo {
  display: block;
  height: 40px;
  background: url('images/chargetrip.svg') no-repeat 16px center;
  text-indent: -100%;
}
