
html,
body {
  padding: 0;
  margin: 0;
  color: #323c4d;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}

h2 {
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.station-request {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 360px;
  max-height: calc(100% - 2em);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  border-radius: 8px;
  overflow-y: auto;
}

.section {
  border-bottom: 1px solid #EDF2F6;
}

.range-info {
  font-size: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.range-info span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.power {
  padding: 10px;
}

.power li {
  position: relative;
  top: -25px;
  padding-left: 25px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.power li span {
  font-size: 14px;
  line-height: 17px;
  color: #787884;
  font-weight: normal;
}

.slider {
  -webkit-appearance: none;
  align-self: center;
  margin: 10px;
  width: 95%;
  height: 1px;
  background: #0078FF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  padding-bottom: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 20px;
  border-radius: 123px;
  box-shadow: 0px 1.23077px 4.92308px rgba(37, 42, 50, 0.2);
  background: #ffffff;
  cursor: pointer;
}

.container {
  cursor: pointer;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container div {
  position: relative;
  top: -15px;
  padding-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #404046;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1.49026px solid #9CA7B2;
  box-sizing: border-box;
  border-radius: 4px;
}

.container input:checked ~ .checkmark {
  background-color: #0078FF;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 6px;
  width: 5px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(41.67deg);
  -ms-transform: rotate(41.67deg);
  transform: rotate(41.67deg);
}

.github-link {
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;

  padding: 0 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);

  background-color: #030303;
  border-radius: 20px;

  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
}

.github-link a {
  padding: 0 16px 0 32px;
  margin: 0 8px 0 0;
  background: url('images/github.svg') no-repeat left center;
  border-right: 1px solid #54545c;
}

.github-link button {
  width: 16px;
  height: 16px;
  padding: 0;
  background: url('images/close.svg') no-repeat;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.github button:focus {
  outline: none;
}

.chargetrip-logo {
  display: block;
  height: 40px;
  background: url('images/chargetrip.svg') no-repeat 16px center;
  text-indent: -100%;
}
