html,
body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 16px;
  background: #202024;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
  color: #202024;
  list-style: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

li {
  margin-bottom: 16px;
  line-height: 30px;
}

h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}

h2 {
  margin: 16px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 344px;
  bottom: 0;
  background: #e5e5e5;

  padding: 50px 35px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.section-titles {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #0c0c10;
  padding-bottom: 50px;
}

.section-titles:last-child {
  padding-bottom: 0;
}

.section-titles h5 {
  font-weight: 600;
  color: #787884;
}

.icon {
  padding-left: 30px;
  background: url('images/range.svg') no-repeat left center;
}

.range {
  background-image: url('images/range.svg');
}

.battery {
  background-image: url('images/battery.svg');
}

.efficiency {
  background-image: url('images/efficiency.svg');
}

.plug {
  background-image: url('images/plug.svg');
}

/* The car-profile template */
.car-profile {
  position: relative;
  float: left;
  margin-left: 10px;
  width: 284px;
  left: 240px;
  top: 79px;
  background: #ffffff;
  box-shadow: 0px 0.5px 6px rgba(0, 0, 0, 0.04), 0px 2px 10px rgba(0, 0, 0, 0.05), 0px 3px 24px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.car-profile header {
  padding: 16px;
  height: 234px;
  font-size: 16px;
  line-height: 24px;
  color: #54545c;
  text-align: center;
  font-weight: normal;

  border-bottom: 1px solid #edf2f6;
}

.car-profile header h1 {
  margin: 0;
  padding: 16px 0 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.car-profile header p {
  margin: 0;
}

.car-image {
  width: 211px;
  margin-top: 20px;
}

.section {
  padding: 16px;
  border-bottom: 1px solid #edf2f6;
}

.weather-types {
  display: flex;
  justify-content: space-between;
}

.weather-types-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  margin: 16px 0;
  color: #787884;
}

.chargetrip-logo {
  display: block;
  height: 40px;
  background: url('images/chargetrip.svg') no-repeat 16px center;
  text-indent: -800%;
}

/* View project on the github link */
.github-link {
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;

  padding: 0 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);

  background-color: #fff;
  border-radius: 20px;

  color: #0c0c10;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
}

.github-link a {
  padding: 0 16px 0 32px;
  margin: 0 8px 0 0;
  background: url('images/github.svg') no-repeat left center;
  border-right: 1px solid #54545c;
}

.github-link button {
  width: 16px;
  height: 16px;
  padding: 0;
  background: url('images/close.svg') no-repeat;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.github button:focus {
  outline: none;
}
