html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 16px;
  background: #E5E5E5;;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: absolute;
  width: 1440px;
  height: 314px;
  left: 0px;
  top: 0px;

  background: #202024;
}

ul,
ol {
  padding: 0;
  padding-bottom: 3px;
  margin-left: 10px;
  color: #202024;
  list-style: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

li {
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}

h2 {
  padding: 10px;
  padding-bottom: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

.car-profile {
  position: absolute;
  width: 284px;
  height: 1072px;
  left: 240px;
  top: 72px;

  background: #FFFFFF;
  box-shadow: 0px 0.5px 6px rgba(0, 0, 0, 0.04), 0px 2px 10px rgba(0, 0, 0, 0.05), 0px 3px 24px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.section {
  padding-bottom: 0px;
  border-bottom: 1px solid #EDF2F6;
}

.car-maker {
  padding-top: 28px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.car-model {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #54545C;
}

.car-image {
  position: relative;
  left: 45px;
  width: 211px;
  height: 97px;
  padding: 30px 0;
}

.weather-types {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  color: #787884;
}

.weather-list {
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.chargetrip-logo {
  display: block;
  height: 40px;
  background: url('images/chargetrip.svg') no-repeat 16px center;
  text-indent: -400%;
}

/* View project on the github link */
.github-link {
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;

  padding: 0 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);

  background-color: #fff;
  border-radius: 20px;

  color: #0C0C10;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
}

.github-link a {
  padding: 0 16px 0 32px;
  margin: 0 8px 0 0;
  background: url('images/github.svg') no-repeat left center;
  border-right: 1px solid #54545c;
}

.github-link button {
  width: 16px;
  height: 16px;
  padding: 0;
  background: url('images/close.svg') no-repeat;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.github button:focus {
  outline: none;
}
