html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #323c4d;
}

span {
  margin: 0;
  font-weight: 600;
  padding-top: 10px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.375em;
  font-weight: 600;
}

h2 {
  font-size: 1.125em;
  font-weight: 600;
  padding: 1em 1em 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  left: 1em;
  top: 1em;

  background-color: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  height: 697px;
  border-radius: 0.5em;

  width: 22.5em;
}

.header {
  background-color: #030303;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1em 0em;

  align-items: center;
}

.header-route {
  margin-top: -5px;
  font-size: 16px;
}
.tags {
  display: flex;
  margin-top: 1em;
  color: #EDF2F6;
}

.tag {
  display: flex;
  border: 1px solid #ffffff;
  padding: 0 0.5rem;
  font-size: 14px;
  font-weight: 600;
  height: 1.5rem;
  align-items: center;
  margin: 0 0.25rem;
  border-radius: 0.75rem;
}

.list {
  width: 90%;
  padding: 0.5em 1em;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}

.list__icon {
  display: flex;
  align-items: center;
}

.list__icon img {
  margin-right: 0.5em;
}

.charge {
  position: absolute;
  top: 330px;
  left: 10px;
  outline: none;
  z-index: 3;
}


.clone {
  position: absolute;
  display: flex;
  align-items: center;
  height: 35px;
  width: 209px;
  top: 15px;
  right: 15px;

  background-color: #030303;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.clone a {
  display: flex;
  text-decoration: none;
}

.clone img {
  padding-left: 10px;
  padding-top: px;
}

.clone span {
  padding-top: 3px;
  color: #fff;
  padding-left: 10px;
  font-weight: 500;
  font-size: 15px;
}

.clone img:last-child {
  cursor: pointer;
  padding-left: 50px;
  color: #fff;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  width: 50px;
  padding: 1px;

  background: #030303;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}

.line {
  position: absolute;
  top: 212px;
  height: 142px;
  width: 2px;
  left: 2px;
  background-color: #EA8538;
  z-index: 2;
}

.elipse {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
