html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-size: 15px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  color: #030303;
}

.card {
  position: absolute;
  width: 360px;
  top: 16px;
  left: 16px;

  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 24px 16px;
}

.providers {
  cursor: pointer;
  display: flex;
  height: 35px;
  background: #f3f6f8;
  border: 1.49026px solid #e8edf1;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 32px;
  align-items: center;
  text-align: center;
}

.clicked {
  height: 100%;
  width: 50%;
  background: #0078ff;
  color: #ffffff;
}

.eco {
  height: 100%;
  width: 50%;
  color: #141519;
}

.ocm {
  color: #141519;
  height: 100%;
  width: 50%;
}

.provider {
  display: flex;
  font-weight: 600;
  line-height: 24px;

  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.provider span {
  display: flex;
  color: #0078ff;
  padding-left: 120px;
}

.provider img {
  padding-right: 20px;
}

.provider-info {
  margin-top: -15px;
  margin-left: 60px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.2px;

  color: #747884;
  margin-bottom: 10px;
}

.contact-button {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  height: 32px;
  width: 134px;
  background: #8229f0;
  border-radius: 6px;
}

.contact-button a {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
}

.contact-button img {
  margin-bottom: -2px;
  padding-right: 5px;
}

.clone {
  position: absolute;
  display: flex;
  align-items: center;
  height: 35px;
  width: 209px;
  top: 15px;
  right: 15px;

  background-color: #030303;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.clone a {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 35px;
}

.clone img {
  padding-left: 10px;
  padding-top: px;
}

.clone span {
  color: #fff;
  padding-left: 10px;
  font-weight: 500;
  font-size: 15px;
}

.clone img:last-child {
  cursor: pointer;
  padding-left: 50px;
  color: #fff;
}
