html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #323c4d;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span {
  font-weight: 600;
  line-height: 30px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0.5em 0 0.125em;
  font-size: 1.375em;
  font-weight: 600;
}

h2 {
  font-size: 1.125em;
  font-weight: 600;
  padding: 1.5em 1em 0;
  margin: 0 0 0.75em;
  color: #0c0c10;
}
a {
  text-decoration: none;
  color: inherit;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.journey-specs {
  position: absolute;
  left: 1em;
  top: 1em;

  background-color: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
  overflow-y: scroll;
  max-height: calc(100% - 2em);
  border-radius: 8px;

  width: 22.5em;
}

.header {
  position: relative;
  background-color: #030303;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1em 0em;
  border-radius: 8px;
  align-items: center;
}

.header-route {
  font-size: 16px;
  color: #e8edf1;
}

.tags {
  display: flex;
  margin: 0.75em 0 1.5em;
  color: #edf2f6;
}

.tag {
  display: flex;
  border: 1px solid #ffffff;
  padding: 0 0.5rem;
  font-size: 14px;
  font-weight: 600;
  height: 1.5rem;
  align-items: center;
  margin: 0 0.25rem;
  border-radius: 0.75rem;
}

.rounded-corners {
  position: absolute;
  width: 100%;
  height: 0.5em;
  background-color: #ffffff;
  bottom: 0;
  border-radius: 0.5em 0.5em 0 0;
}

.info {
  padding: 0 1em 0.5em;
  border-bottom: 1px solid #e8edf1;
}

.info li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0 30px;
  line-height: 3em;
}

.info-elevation {
  background: url('images/elevation.svg') no-repeat left center;
}

.info-consumption {
  background: url('images/consumption.svg') no-repeat left center;
}

.info-temperature {
  background: url('images/temperature.svg') no-repeat left center;
}

.info-speed-limit {
  background: url('images/speed-limit.svg') no-repeat left center;
}

.info-average-speed {
  background: url('images/average-speed.svg') no-repeat left center;
}

.chart {
  padding: 5px;
}

.charge {
  position: absolute;
  top: 315px;
  left: 10px;
  outline: none;
  z-index: 3;
}

.github {
  position: fixed;
  display: flex;
  align-items: center;
  top: 16px;
  right: 16px;

  padding: 0 12px;

  background-color: #030303;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
  border-radius: 20px;

  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 40px;
}

.github a {
  background: url('images/github.svg') no-repeat left center;
  margin: 0 8px 0 0;
  padding: 0 16px 0 28px;
  border-right: 1px solid #54545c;
}

.github button {
  cursor: pointer;
  border: none;
  background: url('images/close.svg') no-repeat;
  padding: 0;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
}

.github button:focus {
  outline: none;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  width: 50px;
  padding: 1px;

  background: #030303;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}

.line {
  position: relative;
  top: -160px;
  left: 10px;
  margin-bottom: -150px;
  height: 133px;
  width: 2px;
  background-color: #ea8538;
  z-index: 3;
}

/* Link to Chargetrip website */
.chargetrip-logo {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  background: url('images/chargetrip.svg') no-repeat right center transparent;
  padding-right: 90px;
  font-size: 12px;
  font-weight: 600;
  margin: 0 15px;
  color: var(--black);
}
