html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #323c4d;
}

span {
  margin: 0;
  font-weight: 600;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 28px;
  font-size: 22px;
  font-weight: 600;
  
}

h2 {
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px 0;
  line-height: 24px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  left: 16px;
  top: 16px;

  background-color: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
  overflow-y: scroll;
  height: calc(100% - 2em);

  border-radius: 8px;

  width: 360px;
}

.header {
  background-color: #030303;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 32px 0;

  align-items: center;
}

.header-route {
  font-size: 16px;
}

.header h1 {
  margin-bottom: 4px;
}

.tags {
  display: flex;
  margin-top: 16px;
}

.tag {
  display: flex;
  border: 1px solid #ffffff;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  align-items: center;
  margin: 0 4px;
  border-radius: 12px;
}

.section {
  border-bottom: 1px solid #e8edf1;
}

.section:last-child {
  border-bottom: none;
  padding-bottom: 16px;
}

.car__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  border-bottom: 1px solid #e8edf1;
}

.car__image {
  height: 56px;
  transform: scaleX(-1);
}

.info {
  padding: 8px 16px;
}

.info li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  line-height: 18px;
}

.info-column {
  margin-top: 8px;
  flex-direction: column;
}

.info-column span {
  margin-top: 8px;
  line-height: 24px;
}

.trip-info {
  padding: 8px 16px;
  border-bottom: 1px solid #e8edf1;
}

.trip-info li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0 30px;
  line-height: 50px;
}

.info-duration {
  background: url('images/time.svg') no-repeat left center;
}

.info-fuel {
  background: url('images/fuel.svg') no-repeat left center;
}

.info-consumption {
  background: url('images/consumption.svg') no-repeat left center;
}

.info-co2 {
  background: url('images/co2.svg') no-repeat left center;
}

.border {
  border-bottom: 1px solid #e8edf1;
  left: 0;
  right: 0;
}

.github {
  position: fixed;
  display: flex;
  align-items: center;
  top: 16px;
  right: 16px;

  padding: 0 12px;

  background-color: #030303;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 40px;
}

.github a {
  background: url('images/github.svg') no-repeat left center;
  margin: 0 8px 0 0;
  padding: 0 16px 0 32px;
  border-right: 1px solid #54545c;
}

.github button {
  cursor: pointer;
  border: none;
  background: url('images/close.svg') no-repeat;
  padding: 0;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
}

.github button:focus {
  outline: none;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  width: 50px;
  padding: 1px;

  background: #030303;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}

.chargetrip {
  background: url('images/chargetrip.svg') no-repeat left center;
  margin-left: 16px;
  padding-top: 40px;
}